/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 27/09/2023 09:01:29
*/

.ModalQuickView {}
.ModalQuickView .btn-close{
  float: right;
}
