/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 27/09/2023 11:30:27
*/

.SubscribeComponent {}
.SubscribeComponent .error-white{
  color: white;
}
